@import "./vars.sss"

// proprietary global sss goes here
@define-mixin bgp1
	background: url('../assets/images/grid3.png')
.bgp1
	@mixin bgp1

@define-mixin bgp2
	background: url('../assets/images/grid3-light.png')
.bgp2
	@mixin bgp2
